// Place all the styles related to the cube_summation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$loading-canvas-size: 64px;

.loading-canvas{
	background-image: url(/assets/cube.gif);
	background-repeat: no-repeat;
	width: $loading-canvas-size;
	height: $loading-canvas-size;
}
